services:
  postgres:
    image: postgres:15
    container_name: kpi_postgres
    environment:
      POSTGRES_DB: kpidb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: kpi_api
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: kpidb
      DB_USER: postgres
      DB_PASSWORD: postgres

volumes:
  postgres_data:
